@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$border: 2px solid red;
$Montserrat: Montserrat;

@media screen and (max-width: 480px) {
    * {
        padding: 0;
        margin: 0;
    }
    html {
        scroll-behavior: smooth;
    }
    .container {
        width: 80dvw;
        max-width: 100%;
        margin: 0 auto;
    }
    body{
        font-family: $Montserrat;
        background-color: white;
    }
    .hide{
        transform: translateY(-10dvh);
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.2);
    }
    
    .start{
        background: linear-gradient(to bottom, black 90%, white);
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .start__menu{
                transition: 0.5s;
                position: fixed;
                background-color: black;
                padding-left: 10dvw;
                padding-right: 10dvw;
                box-sizing: border-box;
                
                width: 100%;
                height: 10dvh;

                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: Montserrat;
                font-weight: 500;
                font-size: 1em;
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;
                }
                li:nth-child(2){
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    padding-left: 2%;
                    padding-right: 2%;
                }
            }
            img{
                width: 90%;
                height: 100dvh;
                display: flex;
                align-items: center;
            }
        }
    }
    .treners{
        height: auto;
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h2{
            width: 100%;
            height: 4em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $Montserrat;
            font-weight: 800;
            font-size: 2em;
            color: rgba(0, 0, 0, 0.80);
        }
        .treners__card{
            width: 100%;
            height: 50dvh;
            padding: 1em;
            margin-bottom: 2em;
            border-radius: 20px;
            background-color: black;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            img{
                width: auto;
                height: 70%;
            }
            h3{
                height: 20%;
                font-size: 1.5em;
                font-weight: 600;
                display: flex;
                align-items: center;
            }
            .nastya{
                font-size: 1.3em;
            }
            p{
                height: 10%;
                font-size: 1em;
                color: rgba(255, 255, 255, 0.30);
            }
        }
    }
    .sports{
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            height: auto;
        }
        p{
            margin-top: 5em;
            font-size: 1em;
            font-weight: 500;
            span{
                font-weight: 700;
                font-size: 1.2em;
            }
        }
        .sports__card{
            width: 100%;
            height: 13rem;
            padding: 1.5em;
            box-sizing: border-box;
            margin-top: 2em;
            border-radius: 20px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            background-color: #CDCDCD;
            h2{
                font-weight: 700;
                font-size: 2em;
                width: 100%;
                height: 30%;
            }
            .sports__card_content{
                width: 100%;
                height: 70%;

                display: flex;
                justify-content: space-between;
                align-items: end;
                p{
                    width: 70%;
                }
                svg{
                    width: 30%;
                    height: auto;
                }
            }
        }
        .modal-overlay {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        
        .modal {
            background-color: #fff;
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
        }
        
        .modal-overlay--visible {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease-in-out;
        }
        
        .modal--visible {
            display: block;
        }
    }
    .feedback{
        background: linear-gradient(to bottom, white 95%, black);
       .container{
            display: flex;
            flex-direction: column;
       }
       h2{
            width: 100%;
            height: 4em;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $Montserrat;
            font-weight: 800;
            font-size: 2em;
            color: rgba(0, 0, 0, 0.80);
            padding-top: 2em;
            box-sizing: border-box;
       }
       form{
            display: flex;
            flex-direction: column;
            height: auto;
            input{
                background-color: #D9D9D9;
                border: none;
                width: 100%;
                height: auto;
                border-radius: 10px;
                padding: 1em;
                box-sizing: border-box;
                margin-top: 1em;
                &::placeholder{
                    font-family: $Montserrat;
                    color: rgba(0, 0, 0, 0.5);
                }

                &[type=submit]{
                    background-color: #FBDE40;
                    color: rgba(0, 0, 0, 0.5);
                    margin-bottom: 3rem;
                }
            }
            #fbig{
                height: 10em;
                &::placeholder {
                    transform: translateY(-1.5em);
                    white-space: pre-line;
                }
            }
            #sbig{
                height: 6em;
                &::placeholder {
                    transform: translateY(-0.5em);
                    white-space: pre-line;
                }
            }
            .feedback__ny{
                width: 100%;
                display: flex;
                justify-content: space-between;
                input[type=tel]{
                    width: 61%;
                }
                input[type=number]{
                    width: 35%;
                }
            }
       }
    }
    .end{
        background-color: black;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 5rem;
            svg{
                height: 30%;
                width: auto;
            }
            p{
                color: white;
                font-size: 0.7rem;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
        }
    }
}